@import "./base.css";

.ranking__container .header {
    width: 100%;
    height: 150px;
    left: 0px;
    background: #92b548;
}

.ranking__container .header p {
    left: 20px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 41px;
    color: #ffffff;
}

.ranking__container .chimuc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    margin-top: 80px;
}

.ranking__container .chimuc li {
    font-family: "Roboto";
    font-style: normal;
    font-size: 28px;
    line-height: 33px;
    list-style: none;
    margin-left: 200px;
}

.ranking__container .chimuc a {
    text-decoration: none;
    color: #ffffff;
}

.ranking__container .xh {
    background-color: lightgreen;
}

.ranking__container .eder {
    background-color: aliceblue;
    height: 50px;
    width: 85%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.ranking__container .eder p {
    margin-top: 15px;
    font-size: 20px;
    color: #92b548;
}

.ranking__container .eder i {
    margin-top: 15px;
    font-size: 20px;
    color: #92b548;
}

.ranking__container .nav {
    background-color: lightgray;
    height: 50px;
    width: 85%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    padding: auto;
}

.ranking__container .nav p {
    margin-top: 15px;
    font-size: 20px;
}

.ranking__container .index {
    margin-left: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px;
}

.ranking__container .index li {
    font-size: 20px;
    list-style: none;
    margin-left: 42px;
}

.ranking__container .bxh {
    background-color: #f0f0f1;
    height: 50px;
    width: 85%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    margin-top: 10px;
    padding: auto;
}

.ranking__container .head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 120px;
}

.ranking__container .head img {
    width: 40px;
    height: 40px;
    margin-left: 40px;
    vertical-align: middle;
}

.ranking__container .head p {
    margin-top: 8px;
    margin-left: 10px;
    vertical-align: middle;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    color: #878787;
}

.ranking__container .head span {
    margin-top: 8px;
    margin-left: 35px;
    vertical-align: middle;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    color: #878787;
}

.ranking__container .mid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 600px;
}

.ranking__container .mid p {
    margin-left: 52px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    color: #878787;
}

.ranking__container .check {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    vertical-align: middle;
    position: absolute;
    left: 1220px;
}

.ranking__container .check i {
    color: green;
    font-size: 20px;
    margin-left: 2px;
}

.ranking__container #fail {
    font-size: 20px;
    color: #878787;
}

.ranking__container #off {
    font-size: 20px;
    color: red;
}

.ranking__container #win {
    font-size: 20px;
    color: green;
}

.ranking__container .footer {
    width: 85%;
    height: 100px;
    background-color: #f0f0f1;
    margin: auto;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.ranking__container .left {
    margin-left: 20px;
}

.ranking__container .right {
    margin-left: 400px;
}

.ranking__container #s1 {
    font-size: 20px;
    color: blue;
}

.ranking__container #s2 {
    font-size: 20px;
    color: orangered;
}

.ranking__container #s3 {
    font-size: 20px;
    color: lightgreen;
}

.ranking__container #s4 {
    font-size: 20px;
    color: red;
}