@import "./base.css";

.schedule__container .header {
    background: url(../img/backgr.jpg);
    height: 100px;
}

.schedule__container .header_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.schedule__container .header img {
    width: 230px;
    height: 60px;
    margin-left: 30px;
    margin-top: 20px;
}

.schedule__container .header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 250px;
    margin-top: 30px;
}

.schedule__container .header ul li {
    list-style: none;
}

.schedule__container .header ul li a {
    text-decoration: none;
    font-size: 30px;
    color: white;
    margin-left: 50px;
    font-family: "Poppins Light";
}

.schedule__container .header ul li a:hover {
    color: #e8a11f;
}

.schedule__container .content {
    margin-top: 50px;
}

.schedule__container .content_product {
    margin-top: 20px;
}

.schedule__container .content_product_time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 70px;
}

.schedule__container .content_product_time p {
    margin-left: 10px;
    font-size: 20px;
}

.schedule__container .content_product_tick {
    background-color: #aeaeae;
    width: 90%;
    margin: auto;
    height: 50px;
    margin-top: px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.schedule__container .content_product_tick p {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.schedule__container .content_product_tick img {
    margin-top: 3px;
    width: 40px;
    height: 40px;
}

.schedule__container .content_product_tick input {
    width: 100px;
    height: 30px;
    background-color: #eef711;
    border-radius: 10px;
    margin-top: 10px;
    border: #eef711;
    color: black;
    font-weight: bold;
    position: absolute;
    left: 1200px;
}

.schedule__container .content_product_tick input:hover {
    background-color: #28736e;
    color: white;
    cursor: pointer;
}

.schedule__container .content_product_tick2 {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 75px;
}

.schedule__container .content_product_tick2 h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.schedule__container .content_product_tick2 input {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: green;
    border: green;
    color: white;
    font-weight: bold;
    margin-left: 770px;
}

.schedule__container .content_product_tick2 input:hover {
    background-color: #a6005e;
    color: white;
    cursor: pointer;
}

.schedule__container .image {
    width: 90%;
    margin: auto;
}

.schedule__container .image img {
    margin-top: 50px;
    width: 100%;
}

.schedule__container .hotclub {
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

.schedule__container .hotclub_big6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.schedule__container .hotclub_big6_1 {
    width: 15%;
    height: 130px;
    background-color: aliceblue;
    margin-left: 58px;
    text-align: center;
}

.schedule__container .hotclub_big6_1:hover {
    width: 16%;
    height: 140px;
    -webkit-transition: 5ms;
    transition: 5ms;
}

.schedule__container .hotclub_big6_1 img {
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.schedule__container .goal_beau {
    width: 90%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
}

.schedule__container .goal_beau1 {
    width: 50%;
    height: 400px;
    background-color: aliceblue;
}

.schedule__container .goal_beau1 img {
    width: 100%;
    height: 350px;
}

.schedule__container .goal_beau2 {
    width: 50%;
    height: 400px;
    background-color: aliceblue;
    margin-left: 150px;
}

.schedule__container .goal_beau2 img {
    width: 100%;
    height: 350px;
}

.schedule__container .more {
    margin-top: 50px;
    text-align: center;
}

.schedule__container .more input {
    width: 300px;
    height: 60px;
    border-radius: 10px;
    background-color: green;
    border: green;
    color: white;
    font-weight: bold;
    font-size: 50px;
}

.schedule__container .more input:hover {
    background-color: #a6005e;
    cursor: pointer;
}

.schedule__container .footer {
    background: url(./img/backgr.jpg);
    height: 300px;
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.schedule__container .footer1 img {
    width: 400px;
    height: 100px;
    margin-left: 30px;
}

.schedule__container .footer1 h3 {
    color: white;
    font-size: 40px;
    margin-left: 80px;
}

.schedule__container .footer2 {
    color: white;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 150px;
}

.schedule__container .footer3 {
    color: white;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 150px;
}

.schedule__container .footer3 p {
    color: lightcyan;
}

.schedule__container .footer2_icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
}

.schedule__container .footer2_icon i {
    margin: 10px 10px 0 0;
}