@import "./base.css";

.login {
    background-image: url(../images/bgLogin.jpg);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.login .login__container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login .login__container h1 {
    font-size: 60px;
    font-family: Roboto;
    color: #ffe607;
}

.login .login__container p {
    font-size: 30px;
    color: #ffe607;
    margin-bottom: 8px;
}

.login .login__container h6 {
    color: white;
    margin-left: -10%;
    text-decoration: underline;
}

.login .login__container h6:hover {
    color: black;
}

.login .login__container input[type="email"],
.login .login__container input[type="password"] {
    width: 20%;
    height: 24px;
}

.login .login__container #dangnhap {
    background-color: #ffe607;
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 900;
}

.login .login__container #dangnhap:hover {
    background-color: transparent;
    border: 2px solid #ffe607;
    color: #ffe607;
}