@import "./base.css";

.tickets__container header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100px;
}

.tickets__container .boxlogo {
    width: 450px;
    background: #eef711;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.tickets__container .boxlogo img {
    width: 280px;
    height: 92px;
    margin-left: 50px;
}

.tickets__container nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    background-image: url("../images/blockbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.tickets__container nav li {
    list-style: none;
}

.tickets__container nav li a {
    text-decoration: none;
    color: #ffffff;
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

.tickets__container nav nav li nav li i {
    color: #ffffff;
}

.tickets__container nav li:hover a {
    color: #eef711;
}

.tickets__container .section1 {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.tickets__container .boxvtd {
    width: 300px;
    height: 80px;
    background-color: #ffffff;
    text-align: center;
    padding-top: 30px;
}

.tickets__container .boxvtd span a {
    text-decoration: none;
    font-family: "poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #eef711;
}

.tickets__container .boxttq {
    width: 300px;
    height: 80px;
    text-align: center;
    padding-top: 30px;
}

.tickets__container .boxttq span a {
    text-decoration: none;
    font-family: "poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: black;
}

.tickets__container .boxttq:hover {
    color: #eef711;
    background-color: #ffffff;
}

.tickets__container .section2 {
    background-color: #ffffff;
    padding-top: 40px;
    width: 1200px;
    margin: 0 auto;
}

.tickets__container .allvetrandau {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.tickets__container .vetrandau {
    width: 27%;
    margin-bottom: 50px;
}

.tickets__container .allvetrandau .vetrandau .imgvtd img {
    width: 100%;
    height: 190px;
}

.tickets__container .ifvtd {
    width: 310px;
    height: 120px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 10px #e6e6e6;
    box-shadow: 0 0 10px #e6e6e6;
    padding: 10px 10px;
}

.tickets__container .ifvtd span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #eef711;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

.tickets__container .btn-buynow {
    width: 100px;
    height: 40px;
    background-color: #eef711;
    text-align: center;
    padding-top: 10px;
    margin-top: 15px;
}

.tickets__container .btn-buynow a {
    text-decoration: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: black;
}

.tickets__container #trandau2 {
    margin-top: 50px;
}

.tickets__container #trandau5 {
    margin-top: 50px;
}

.tickets__container #vtd2 {
    height: 130px;
}

.tickets__container #vtd5 {
    height: 130px;
}

.tickets__container .ifvtd span:hover {
    color: #28736e;
}

.tickets__container .section3 {
    margin-bottom: 300px;
}

.tickets__container .banner {
    width: 1150px;
    margin: 0 auto;
}

.tickets__container .banner img {
    width: 100%;
}

.tickets__container footer {
    height: 350px;
    background-image: url("/imagesvtd/background.jpg");
    background-size: cover;
}

.tickets__container .alltextft {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.tickets__container .textft1 {
    border-right: 2px solid white;
    margin-top: 70px;
    height: 250px;
}

.tickets__container .textft1 span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    color: #ffffff;
}

.tickets__container .logoft img {
    width: 300px;
    margin-left: -50px;
    margin-bottom: 50px;
}

.tickets__container .fouriconft {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.tickets__container .icon1 img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 8px;
}

.tickets__container .textft2 {
    margin-top: 70px;
    height: 250px;
}

.tickets__container .textft2 .ht {
    margin-bottom: 15px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
}

.tickets__container .textft2 .ht input {
    padding: 5px 5px;
    border-radius: 30px;
    border: none;
}

.tickets__container .textft3 {
    margin-top: 70px;
    height: 250px;
}

.tickets__container .textft3 .tt {
    margin-bottom: 15px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #adadad;
}

.tickets__container .textft3 .ttt {
    margin-bottom: 15px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
}